* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link{
  @apply px-8 py-2.5 bg-[#23D948] rounded text-shadow;
}

@layer base {
  h1 {
    @apply text-3xl tracking-widest font-medium;
  }
  h2 {
    @apply text-2xl tracking-widest font-medium;
  }
  h3 {
    @apply text-xl tracking-widest font-medium;
  }
  h4 {
    @apply text-lg tracking-widest font-medium;
  }
  h5 {
    @apply text-base tracking-widest font-medium;
  }
  h6 {
    @apply text-sm tracking-widest font-medium;
  }
  p {
    @apply text-xs tracking-widest font-normal;
  }
  a {
    @apply text-xs tracking-widest text-white no-underline font-normal leading-7;
  }
}

@layer components{
  @responsive {
    .text-shadow {
      text-shadow: 0 1px 2px black;
    }
  
    .text-shadow-md {
      text-shadow: 0 1px 8px black;
    }
  
    .text-shadow-lg {
      text-shadow: 0 1px 16px black;
    }
  
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

/* @layer base {
  h1 {
    @apply text-5xl tracking-widest font-medium;
  }
  h2 {
    @apply text-4xl tracking-widest font-medium;
  }
  h3 {
    @apply text-3xl tracking-widest font-medium;
  }
  h4 {
    @apply text-2xl tracking-widest font-medium;
  }
  h5 {
    @apply text-xl tracking-widest font-medium;
  }
  h6 {
    @apply text-lg tracking-widest font-medium;
  }
  p {
    @apply text-base tracking-widest font-normal leading-7;
  }
  a {
    @apply text-base tracking-widest text-white no-underline font-normal leading-7;
  }
} */